#container{
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
    width:90vw;
    height: 90vh;
}

.grids:hover{
    background-color: rgb(19, 19, 19);
}